.stats-table {
    background-color: #eee;
    padding: 10px;
    margin: 6px 0;;
}

.stats-table th {
    text-align: right;
}

.stats-table td {
    font-family: "Source Sans Pro", "Courier new", monospace;
}
